In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("Saint_Laurent.csv")

In [15]:
df

,ID,Clothing Category,Brand,Price,Image URL
0,0,Mens Shirts,saint laurent hawaiian shirt,"HK$ 5,990",https://saint-laurent.dam.kering.com/m/2631b1a...
1,1,Mens Shirts,shirt in striated silk voile,"HK$ 8,900",https://saint-laurent.dam.kering.com/m/7dcaa75...
2,2,Mens Shirts,shark-collar shirt in tropical silk crepe de c...,"HK$ 8,500",https://saint-laurent.dam.kering.com/m/28c9a6c...
3,3,Mens Shirts,shirt in confetti hibiscus silk crepe de chine,"HK$ 7,900",https://saint-laurent.dam.kering.com/m/7937504...
4,4,Mens Shirts,shirt in tropical silk crepe de chine,"HK$ 7,900",https://saint-laurent.dam.kering.com/m/38892b6...
...,...,...,...,...,...
2135,2135,Womens Jewellry,dégradé rose brooch in silk satin,"HK$ 4,950",https://saint-laurent.dam.kering.com/m/3fb158a...
2136,2136,Womens Jewellry,saint laurent brooches in brass and crystal,"HK$ 3,950",https://saint-laurent.dam.kering.com/m/3ebb553...
2137,2137,Womens Jewellry,saint laurent brooches in metal and crystal,"HK$ 3,950",https://saint-laurent.dam.kering.com/m/4a70ddf...
2138,2138,Womens Jewellry,octagon cufflinks in metal and enamel,"HK$ 2,950",https://saint-laurent.dam.kering.com/m/eec9e91...
2139,2139,Womens Jewellry,pyramid cufflinks in metal and enamel,"HK$ 2,950",https://saint-laurent.dam.kering.com/m/510147b...

In [16]:
df2 = pd.read_csv("Saint_Laurent2.csv")

In [17]:
df = df.append(df2)

In [18]:
df

,ID,Clothing Category,Brand,Price,Image URL,Unnamed: 0
0,0,Mens Shirts,saint laurent hawaiian shirt,"HK$ 5,990",https://saint-laurent.dam.kering.com/m/2631b1a...,NaN
1,1,Mens Shirts,shirt in striated silk voile,"HK$ 8,900",https://saint-laurent.dam.kering.com/m/7dcaa75...,NaN
2,2,Mens Shirts,shark-collar shirt in tropical silk crepe de c...,"HK$ 8,500",https://saint-laurent.dam.kering.com/m/28c9a6c...,NaN
3,3,Mens Shirts,shirt in confetti hibiscus silk crepe de chine,"HK$ 7,900",https://saint-laurent.dam.kering.com/m/7937504...,NaN
4,4,Mens Shirts,shirt in tropical silk crepe de chine,"HK$ 7,900",https://saint-laurent.dam.kering.com/m/38892b6...,NaN
...,...,...,...,...,...,...
50,50,Mens T-shirt_and_Sweatshirts,tank top in linen jersey,"HK$ 2,690",https://saint-laurent.dam.kering.com/m/1d47aad...,0.0
51,51,Mens T-shirt_and_Sweatshirts,striped monogram tank top in jersey,"HK$ 2,690",https://saint-laurent.dam.kering.com/m/450ddad...,0.0
52,52,Mens T-shirt_and_Sweatshirts,palm tank top in lamé embroidered linen jersey,"HK$ 7,900",https://saint-laurent.dam.kering.com/m/626d965...,0.0
53,53,Mens T-shirt_and_Sweatshirts,tie-dye swim trunks in crinkled polyamide,"HK$ 5,490",https://saint-laurent.dam.kering.com/m/325f078...,0.0
54,54,Mens T-shirt_and_Sweatshirts,nocturnal leopard swim trunks in polyamide,"HK$ 5,490",https://saint-laurent.dam.kering.com/m/49879ef...,0.0

In [19]:
def gender(row):
    if "Mens" in row['Clothing Category']:
        return "Men"
    if "Womens" in row["Clothing Category"]:
        return "Women"
    return "Other"

df["Gender"] = df.apply(lambda row: gender(row), axis=1)

In [20]:
df

,ID,Clothing Category,Brand,Price,Image URL,Unnamed: 0,Gender
0,0,Mens Shirts,saint laurent hawaiian shirt,"HK$ 5,990",https://saint-laurent.dam.kering.com/m/2631b1a...,NaN,Men
1,1,Mens Shirts,shirt in striated silk voile,"HK$ 8,900",https://saint-laurent.dam.kering.com/m/7dcaa75...,NaN,Men
2,2,Mens Shirts,shark-collar shirt in tropical silk crepe de c...,"HK$ 8,500",https://saint-laurent.dam.kering.com/m/28c9a6c...,NaN,Men
3,3,Mens Shirts,shirt in confetti hibiscus silk crepe de chine,"HK$ 7,900",https://saint-laurent.dam.kering.com/m/7937504...,NaN,Men
4,4,Mens Shirts,shirt in tropical silk crepe de chine,"HK$ 7,900",https://saint-laurent.dam.kering.com/m/38892b6...,NaN,Men
...,...,...,...,...,...,...,...
50,50,Mens T-shirt_and_Sweatshirts,tank top in linen jersey,"HK$ 2,690",https://saint-laurent.dam.kering.com/m/1d47aad...,0.0,Men
51,51,Mens T-shirt_and_Sweatshirts,striped monogram tank top in jersey,"HK$ 2,690",https://saint-laurent.dam.kering.com/m/450ddad...,0.0,Men
52,52,Mens T-shirt_and_Sweatshirts,palm tank top in lamé embroidered linen jersey,"HK$ 7,900",https://saint-laurent.dam.kering.com/m/626d965...,0.0,Men
53,53,Mens T-shirt_and_Sweatshirts,tie-dye swim trunks in crinkled polyamide,"HK$ 5,490",https://saint-laurent.dam.kering.com/m/325f078...,0.0,Men
54,54,Mens T-shirt_and_Sweatshirts,nocturnal leopard swim trunks in polyamide,"HK$ 5,490",https://saint-laurent.dam.kering.com/m/49879ef...,0.0,Men

In [21]:
df.drop(columns = ['Unnamed: 0'], inplace= True)

In [22]:
df.rename(columns = {"Clothing Category":"Category", "Brand":"Name"}, inplace=True)

In [23]:
df['Price'] = df['Price'].str.replace(r'[^0-9]+', '').astype(int)

<ipython-input-23-9faaf374b4f8>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price'] = df['Price'].str.replace(r'[^0-9]+', '').astype(int)

In [31]:
df['Category']=df['Category'].str.replace("Mens","")

In [33]:
df['Category']=df['Category'].str.replace("Womens","")

In [37]:
df = df[df['Category'] != "Lingerie"]

In [42]:
df

,ID,Category,Name,Price,Image URL,Gender
0,0,Shirts,saint laurent hawaiian shirt,5990,https://saint-laurent.dam.kering.com/m/2631b1a...,Men
1,1,Shirts,shirt in striated silk voile,8900,https://saint-laurent.dam.kering.com/m/7dcaa75...,Men
2,2,Shirts,shark-collar shirt in tropical silk crepe de c...,8500,https://saint-laurent.dam.kering.com/m/28c9a6c...,Men
3,3,Shirts,shirt in confetti hibiscus silk crepe de chine,7900,https://saint-laurent.dam.kering.com/m/7937504...,Men
4,4,Shirts,shirt in tropical silk crepe de chine,7900,https://saint-laurent.dam.kering.com/m/38892b6...,Men
...,...,...,...,...,...,...
50,50,T-shirt_and_Sweatshirts,tank top in linen jersey,2690,https://saint-laurent.dam.kering.com/m/1d47aad...,Men
51,51,T-shirt_and_Sweatshirts,striped monogram tank top in jersey,2690,https://saint-laurent.dam.kering.com/m/450ddad...,Men
52,52,T-shirt_and_Sweatshirts,palm tank top in lamé embroidered linen jersey,7900,https://saint-laurent.dam.kering.com/m/626d965...,Men
53,53,T-shirt_and_Sweatshirts,tie-dye swim trunks in crinkled polyamide,5490,https://saint-laurent.dam.kering.com/m/325f078...,Men
54,54,T-shirt_and_Sweatshirts,nocturnal leopard swim trunks in polyamide,5490,https://saint-laurent.dam.kering.com/m/49879ef...,Men

In [43]:
def category(row):
    if "Shirts" in row["Category"]:
        return "Shirts"
    if "Bags" in row["Category"]:
        return "Accessories"
    if "Denim" in row["Category"]:
        return "Jeans"
    if "Hats" in row["Category"]:
        return "Accessories"
    if "Jackets" in row["Category"]:
        return "Jackets & Coats"
    if "Jewelry" in row["Category"]:
        return "Accessories"
    if "Knitwear" in row["Category"]:
        return "Jumpers"
    if "Leather_and_Fur" in row["Category"]:
        return "Jackets & Coats"
    if "Outerwear" in row["Category"]:
        return "Jackets & Coats"
    if "Pants" in row["Category"]:
        return "Trousers"
    if "Polo" in row["Category"]:
        return "Polos"
    if "Shirts" in row["Category"]:
        return "Shirts"
    if "Shoes" in row["Category"]:
        return "Shoes"
    if "T-Shirt_and_Sweatshirts" in row["Category"]:
        return "T-Shirts"
    if "Jackets_and_Pants" in row["Category"]:
        return "Jackets & Coats"
    if "Sunglasses" in row["Category"]:
        return "Accessories"
    if "T-Shirts_and_Sweatshirts" in row["Category"]:
        return "T-Shirts"
    if "Shirts_and_Blouses" in row["Category"]:
        return "Blouses"
    if "Trousers_and_Shorts" in row["Category"]:
        return "Trousers"
    if "Dresses_and_Skirts" in row["Category"]:
        return "Dresses"
    if "Handbags" in row["Category"]:
        return "Accessories"
    if "Jewellry" in row["Category"]:
        return "Accessories"
    if "T-shirt_and_Sweatshirts" in row["Category"]:
        return "T-Shirts"
    return "Other"

In [44]:
df["Category"] = df.apply(lambda row: category(row), axis=1)

In [47]:
df.drop(columns="ID",inplace=True)

In [51]:
df.drop(columns ="index",inplace=True)

In [53]:
df["ID"] = df.index

In [55]:
df["Brand"] = "Saint Laurent"

In [56]:
df

,Category,Name,Price,Image URL,Gender,ID,Brand
0,Shirts,saint laurent hawaiian shirt,5990,https://saint-laurent.dam.kering.com/m/2631b1a...,Men,0,Saint Laurent
1,Shirts,shirt in striated silk voile,8900,https://saint-laurent.dam.kering.com/m/7dcaa75...,Men,1,Saint Laurent
2,Shirts,shark-collar shirt in tropical silk crepe de c...,8500,https://saint-laurent.dam.kering.com/m/28c9a6c...,Men,2,Saint Laurent
3,Shirts,shirt in confetti hibiscus silk crepe de chine,7900,https://saint-laurent.dam.kering.com/m/7937504...,Men,3,Saint Laurent
4,Shirts,shirt in tropical silk crepe de chine,7900,https://saint-laurent.dam.kering.com/m/38892b6...,Men,4,Saint Laurent
...,...,...,...,...,...,...,...
2190,T-Shirts,tank top in linen jersey,2690,https://saint-laurent.dam.kering.com/m/1d47aad...,Men,2190,Saint Laurent
2191,T-Shirts,striped monogram tank top in jersey,2690,https://saint-laurent.dam.kering.com/m/450ddad...,Men,2191,Saint Laurent
2192,T-Shirts,palm tank top in lamé embroidered linen jersey,7900,https://saint-laurent.dam.kering.com/m/626d965...,Men,2192,Saint Laurent
2193,T-Shirts,tie-dye swim trunks in crinkled polyamide,5490,https://saint-laurent.dam.kering.com/m/325f078...,Men,2193,Saint Laurent
2194,T-Shirts,nocturnal leopard swim trunks in polyamide,5490,https://saint-laurent.dam.kering.com/m/49879ef...,Men,2194,Saint Laurent

In [58]:
df = df[["ID", "Brand", "Category", "Gender", "Name", "Image URL", "Price"]]

In [59]:
df.to_csv("Saint_Laurent_Final.csv", index=False)