In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("Uniqlo.csv")

In [21]:
df

,Unnamed: 0,ID,Shop,Clothing Category,Brand,Price,Image URL
0,0,0,Uniqlo,Mens Casual Outers,POCKETABLE UV PROTECTION PARKA (3D CUT) 433061,HK$249.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
1,0,1,Uniqlo,Mens Casual Outers,POCKETABLE UV PROTECTION PARKA (3D CUT) 437191,HK$249.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
2,0,2,Uniqlo,Mens Casual Outers,POCKETABLE UV PROTECTION ANORAK PARKA 435624,HK$199.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
3,0,3,Uniqlo,Mens Casual Outers,POCKETABLE UV CUT PARKA 425418,HK$149.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
4,0,4,Uniqlo,Mens Casual Outers,POCKETABLE UV CUT PARKA 425028,HK$149.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
...,...,...,...,...,...,...,...
533,0,533,Uniqlo,Womens Sweatwears,+J CREW NECK LONG SLEEVE SWEATSHIRT 437841,HK$199.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
534,0,534,Uniqlo,Womens Sweatwears,+J DRY SWEAT LONG SLEEVE FULL-ZIP HOODIE 437843,HK$299.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
535,0,535,Uniqlo,Womens Sweatwears,+J DRY SWEAT PANTS 437842,HK$199.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
536,0,536,Uniqlo,Womens Sweatwears,+J DRY SWEAT LONG SLEEVE DRESS 437797,HK$199.00,https://www.uniqlo.com.hk/hmall/test/u00000000...
537,0,537,Uniqlo,Womens Sweatwears,U CREW NECK LONG SLEEVE SWEATSHIRT 437096,HK$59.00,https://www.uniqlo.com.hk/hmall/test/u00000000...

In [22]:
df = df.rename(columns = {"Brand":"Name", "Shop":"Brand", "Clothing Category":"Category"})
df.drop(columns= "Unnamed: 0", inplace=True)

In [23]:
def gender(row):
    if "Mens" in row['Category']:
        return "Men"
    if "Womens" in row["Category"]:
        return "Women"
    return "Other"

df["Gender"] = df.apply(lambda row: gender(row), axis=1)

In [24]:
df['Price'] = df['Price'].str.replace(r'[^0-9]+', '').astype(int)

<ipython-input-24-9faaf374b4f8>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price'] = df['Price'].str.replace(r'[^0-9]+', '').astype(int)

In [26]:
df['Category']=df['Category'].str.replace("Mens","")
df['Category']=df['Category'].str.replace("Womens","")

In [27]:
def category(row):
    if "Casual Outers" in row["Category"]:
        return "Jackets & Coats"
    if "Blazer/Cardigan/Coats" in row["Category"]:
        return "Jackets & Coats"
    if "Shorts" in row["Category"]:
        return "Shorts"
    if "Jeans" in row["Category"]:
        return "Jeans"
    if "Casual Pants" in row["Category"]:
        return "Trousers"
    if "Trousers" in row["Category"]:
        return "Trousers"
    if "T-shirts/Tank-tops" in row["Category"]:
        return "T-Shirts"
    if "T-shirt/Tank-tops" in row["Category"]:
        return "T-Shirts"
    if "Polo-shirt" in row["Category"]:
        return "Polos"
    if "Longsleeves" in row["Category"]:
        return "Shirts"
    if "Casual-shirts" in row["Category"]:
        return "Shirts"
    if "Formal-shirts" in row["Category"]:
        return "Shirts"
    if "Skirts" in row["Category"]:
        return "Skirts"
    if "Shirts/Blouses" in row["Category"]:
        return "Blouses"
    if "Sweatwears" in row["Category"]:
        return "Jumpers"
    return "Other"

In [28]:
df["Category"]=df.apply(lambda row:category(row), axis=1)

In [32]:
df = df[["ID", "Brand", "Gender", "Category", "Name", "Image URL", "Price"]]

In [33]:
df.to_csv("Uniqlo_final.csv",index=False)

In [35]:
df1 = pd.read_csv("Saint_Laurent_Final.csv")

In [39]:
df2 = df1.append(df)

In [41]:
df2.to_csv("Combined.csv",index=False)